<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <button class="bubbly-button" id="chat-popup-button">Let's Chat</button>

    <div id="chat-container" class="hidden">
        <h2 class="heading">NeuraVeda</h2>
        <div id="chat-box"></div>
        <input type="text" id="user-input" placeholder="Type a message..." autofocus>
        <button id="send-button">Send</button>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
